h1 {
    color: orange;
    text-align: center;
    text-shadow: 5px 2px 4px grey;
    /* 5px – the X-coordinate
2px – the Y-coordinate 
4px – the blur radius
grey – the color of the shadow */
}


body {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}

body,html {
    height: 100%;
}
.none{
    text-decoration: none;
    color: black;
}

.inherit{
    text-decoration: inherit;
    color:black;
}

.overline{
    text-decoration: overline;
    color: black;
}

.underline{
    text-decoration: underline;
    color: black;
}

.line-through{
    text-decoration: line-through;
    color: black;
}

.blink{
    text-decoration: blink;
    color: blue;
}

.indent{
    text-indent: 60px;
    color: brown;
    text-align: justify;
}

.capitalize{
    text-transform: capitalize;
}

.uppercase{
    text-transform: uppercase;
    color: pink;
}

.lowercase {
    text-transform: lowercase;
    color:red;
}

.uplow {
    background-color: rgb(1, 4, 190);
    padding: 5px;
    text-align: center;
}
#intro {
    color: white;
    background-color: red;
    text-align: right;
}


.first {
    font-size: 2em;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    text-align: justify;

}


#intro .second {
    color: rgb(235, 251, 0);
    background-color: gray;
    font-size: 20px;
    font-variant: small-caps;
}


/* p{
    color:rgb(171, 251, 209);
    background-color: gray;
    font-size: 150%;
    this is how em is calculated:
    em=pixel/16
} */

.serif {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(192, 192, 192);
    color: rgb(3, 71, 48);
    font-style: oblique;
    font-size: 16px;
    font-weight: 900;
}

.sanserif {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-style: italic;
    color: blue;
    font-weight: bold;
    text-align: justify;
}

.monospace {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: black;
    font-weight: bolder;
}

.cusive {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
}

.fantasy {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: red;
}

.long {
    text-align: justify;
    font-weight: 500;
    font-style: oblique;
}

.top {
    vertical-align: top;
    text-align: center;
    background-color: rgb(179, 248, 248);
    color: rgb(113, 160, 160);
}

.middle {
    vertical-align: middle;
    text-align: center;
    color: rgb(179, 248, 248);
    background-color: rgb(113, 160, 160);
}

.bottom {
    vertical-align: bottom;
    text-align: center;
    color: rgb(113, 160, 160);
    background-color: rgb(179, 248, 248);
}

td {
    height: 180px;
    width: 80px;
}

table {
    border-collapse: collapse;
    margin: 50px auto;
}

table,
th,
td {
    border: 2px solid black;
    padding: 4px;
}

.baseline {
    vertical-align: baseline;
}

.sub {
    vertical-align: sub;
}

.super {
    vertical-align: super;
}

.pixel {
    vertical-align: -10px;
}

.main {
    height: 150px;
    width: 400px;
    background-color: LightSkyBlue;
    display: table-cell;
    vertical-align: middle;
}


/* .paragraph {
    display: table-cell;
    vertical-align: middle;
} */